.login-view[data-v-52223c8a]{background-color:#f5f5f5;height:100vh}.form-button[data-v-52223c8a]{margin:16px}.tips[data-v-52223c8a]{text-align:right;padding-right:16px}.tips-link[data-v-52223c8a]{color:#007aff;font-size:12px}
